.carousel-image {
  height: 75vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creators {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vh;
  font-family: 'cupid';
}
