/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo {
  height: 10%;
  width: 10%;
  margin-left:0;
}
.link-box {
  justify-content: center;
  color: white;
}
.nav-link {
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
  gap: 5px;
}
.nav-item button {
  padding: 0px 30px;  /* top-bottom, left-right */
  font-size: 1em;
}

/* End of Header */

/* Footer */
.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}
.cupid-coders {
  text-align: center;
}
.copyright {
  text-align: center;
}
/* End of Footer */
