/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo {
  height: 13%;
  width: 13%;
  margin-left:0;
}
.link-box {
  justify-content: center;
  color: white;
}
.nav {
  
}
.nav-link {
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
  gap: 5px;
}
.nav-item button,
.nav-item a {
  padding: 0px 30px; /* top-bottom, left-right */
  font-size: 1em;
  text-decoration: none; /* remove underline from links */
  color: inherit; /* make the link text color the same as regular text */
  background-color: #c24ccf; /* add a background color */
  border: 1px solid #333; /* add a border */
  border-radius: 5px; /* optional: round the corners of the button */
}

/* End of Header */

/* Footer */
.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}
.cupid-coders {
  text-align: center;
}
.copyright {
  text-align: center;
}
/* End of Footer */
