/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo {
  height: 20%;
  width: 20%;
  margin-left:0;
}
.link-box {
  justify-content: space-between;
  flex-direction: column;
}
/* End of Header */

/* Footer */
.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 5px;
  text-align: center;
  height: 38px;
}
.cupid-coders {
  text-align: center;
}
.copyright {
  text-align: center;
}
/* End of Footer */
